.containerSearchBar{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color);
}
    .containerLinkProduct{
        text-decoration: none;
        margin-left: 2vw;
    }
        .pInicio{
            font-size: 1.4rem;
            font-weight: 700;
            color: var(--colorFont);
        }
    
    .containerCart{
        margin-right: 2vw;
        height: 90%;
        width: 45px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        position: relative;
    }
        .imgCart{
            height: 23px;
        }
        .pCart{
            color: var(--colorFont);
            font-size: .8rem;
        }

