
.containerProducts {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-right: 3vw;
}

@media (max-width: 1024px) {
  .containerProducts{
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .containerProducts{
    grid-template-columns: repeat(2, 1fr);
    margin: 3vw;
  }
}