.productCard{
    display: grid;
    grid-template-columns: 2fr 6fr 1fr 2fr;
    height: 20vh;
    width: 80%;
    border: 1px solid rgb(185, 185, 185);
    box-shadow: 0 2px 4px rgba(47, 50, 53, 0.24), 0 2px 6px rgba(49, 52, 54, 0.192);
    border-radius: 5px;
    margin-top: 2vh;
}

    .containerButtonQuantity, .containerPrice, .containerImg, .containerHeightButton{
        display: flex;
        justify-content: center;
        align-items: center;
    }
        .imgProductCard{
            width: 70%;
            height: 80%;
        }

        .containerHeightButton{
            height: 40%;
            width: 100%;

        }

    .containerName{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px 0;
    }
        .buttonDeleteProduct{
            width: 20%;
        }
        .nombreProductCard{
            color: rgb(34, 34, 34);
        }
