.productCard{
    display: grid;
    grid-template-columns: 1fr 6fr 2fr 1fr 2fr .5fr;
    height: 15vh;
    width: 100%;
    border-bottom: var(--border);
    margin-top: 2vh;
}

    .containerButtonQuantity, .containerPrice, .containerImg, .containerHeightButton, .totalProductPrice, .containerButtonDelete{
        display: flex;
        align-items: center;
    }
        .imgProductCard{
            width: 90%;
            height: 70%;
        }

        .containerHeightButton{
            height: 50%;
            width: 100%;
        }

    .totalProductPrice{
        justify-content: end;
    }

    .containerName{
        height: 100%;
        display: flex;
        align-items: center;
    }


    .containerButtonDelete{
        width: 100%;
        align-items: center;
        justify-content: end;
    }
        .buttonDeleteProduct{
            border: none;
        }
            .buttonDeleteProduct:hover{
                cursor: pointer;
            }
            .imgDelete{
                height: 15px;
            }
        .nombreProductCard{
            color: rgb(34, 34, 34);
        }

    