
    .containerSearchAdmin{
        height: 10vh;
        width: 100%;
        background-color: var(--color);
        display: grid;
        place-items: center;
    }
    .containerFiltersCategories{
        width: 100%;
        display: flex;
        align-items: end;
        justify-content: space-between;
    }
    .containerAdminProducts{
        width: 100%;
    }